<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/playlist/info/<%= data.id %>" method="POST">
        <input type="text" value="<%= data.name %>" name="playlistName">
        <button>Confirmar</button>
        <% data.tags.forEach((tag)=>{ %>
            <input type="text" value="<%= tag %>" name="<%= tag %>">
        <% }) %>

    </form>
    
</body>
</html>